<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="https://jakarta.ee/xml/ns/jakartaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_5_0.xsd"
         version="5.0">
    <!--    It's our deployment descriptor file where we do servlets
    mapping with their urls-->

<!--    servlet declaration-->

    <servlet>
        <servlet-name>first</servlet-name>
        <servlet-class>org.geekmozo.servlet.FirstServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>first</servlet-name>
        <url-pattern>/web</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>second</servlet-name>
        <servlet-class>org.geekmozo.servlet.SecondServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>second</servlet-name>
        <url-pattern>/gen</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>myservlet</servlet-name>
        <servlet-class>org.geekmozo.servlet.MyServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>myservlet</servlet-name>
        <url-pattern>/myservlet</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>register</servlet-name>
        <servlet-class>org.geekmozo.servlet.RegisterServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>register</servlet-name>
        <url-pattern>/RegisterServlet</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>success</servlet-name>
        <servlet-class>org.geekmozo.servlet.SuccessServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>success</servlet-name>
        <url-pattern>/success</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>s1</servlet-name>
        <servlet-class>org.geekmozo.attribute.S1</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>s1</servlet-name>
        <url-pattern>/s1</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>s2</servlet-name>
        <servlet-class>org.geekmozo.attribute.S2</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>s2</servlet-name>
        <url-pattern>/s2</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>servlet1</servlet-name>
        <servlet-class>org.geekmozo.session.Servlet1</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>servlet1</servlet-name>
        <url-pattern>/servlet1</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>servlet2</servlet-name>
        <servlet-class>org.geekmozo.session.Servlet2</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>servlet2</servlet-name>
        <url-pattern>/servlet2</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>registerServlet</servlet-name>
        <servlet-class>org.geekmozo.register.RegisterServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>registerServlet</servlet-name>
        <url-pattern>/Register</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>urlwriter</servlet-name>
        <servlet-class>org.geekmozo.urlwriting.URLWriting</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>urlwriter</servlet-name>
        <url-pattern>/UrlWriting</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>newServlet</servlet-name>
        <servlet-class>org.geekmozo.urlwriting.NewServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>newServlet</servlet-name>
        <url-pattern>/newservlet</url-pattern>
    </servlet-mapping>

<!--    making our custome page as default loading page instead of index file-->
    <welcome-file-list>
        <welcome-file>home.html</welcome-file>
    </welcome-file-list>

</web-app>